<ul>
	<li><a class=""href="{{path('accueil')}}">vers la page d'accueil</a></li>
	<li><a class=""href="{{path('customers_list')}}">vers la liste des clients</a></li>
	<li><a class=""href="{{path('devices_list')}}">vers la liste des péréphirique</a></li>
</ul>
